.container{
    display: flex;
    flex-wrap: wrap;
}
.block {
    margin-top: 44px;
    margin-left: 15px;

}

h1 {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
p{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
ul {
    font-size: 15px;
    list-style: none;
}
